<%- include('../partials/header.ejs')%>
<%- include('../partials/navbar.ejs')%>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Bem vindo!</h1>
        <p class="lead">Página de ADMIN, nessa área voce pode criar, editar e deletar artigos e categorias.</p>
        <hr class="my-4">
    </div>
</body>
<%- include('../partials/footer.ejs')%>